:root {
  --prime-link-color: #2196f3;
  --herobtn-link-color: #188ce8;
  --prime-linktxt-color: #212121;
  --prime-text-color: #757575;
  --link-hover-color: #ffffff;
  --team-bcg-color: #f5f4fa;
  --social-icons-color: #afb1b8;
  --footer-color: #2f303a;
  --border-color: #eeeeee;
  --all-hovfoc-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*global styles*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--prime-linktxt-color);
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.button {
  cursor: pointer;
  font-family: inherit;
}

/* outline: 2px solid blue; */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo,
.link,
.mail,
.phone,
.map,
.footer a /*специфічний клас logo чомусь не працює на вимикання підкреслення посилання*/ {
  text-decoration: none;
}

/*HEADER*/
.header .container,
.nav,
.contacts,
.nav .list {
  display: flex;
  align-items: center;
}

.header .link {
  color: var(--prime-linktxt-color);
}

.link {
  position: relative;
}

.nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.nav .current {
  color: var(--prime-link-color);
}
.current::after {
  color: var(--prime-link-color);
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--prime-link-color);
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--prime-link-color);
  margin-right: 93px;
}

.header .logo-studio {
  color: #000000;
}
.header .link,
.header .mail,
.header .phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.contacts {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.header .mail,
.header .phone {
  color: var(--prime-text-color);
  display: flex;
  align-items: center;
}

.icon-mail {
  height: 12px;
  width: 16px;
  fill: var(--prime-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}
.icon-phone {
  height: 16px;
  width: 10px;
  fill: var(--prime-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.header .link:hover,
.header .link:focus,
.mail:hover .icon-mail,
.mail:focus .icon-mail,
.phone:hover .icon-phone,
.phone:focus .icon-phone {
  color: var(--prime-link-color);
  fill: var(--prime-link-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

/*HERO*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background/bgimage.jpg);
}

.hero .title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--link-hover-color);
}

.hero .button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--link-hover-color);
  background-color: var(--prime-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--herobtn-link-color);
}

/*Advantages*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages .list {
  display: flex;
  flex-shrink: 1;
  gap: 30px;
  padding-left: 0;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages .title {
  width: 270px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages .text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}

.advanicon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  width: 270px;
  background-color: var(--team-bcg-color);
}

.advantages .icon {
  height: 70px;
}

/*WHAT WE DO */
.wwd .title,
.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.wwd .list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.wwd .image {
  display: block;
}

.card {
  position: relative;
}

.card-text {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.card-text .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--link-hover-color);
}

.wwd,
.team {
  padding-bottom: 94px;
}

/*TEAM*/
.team {
  padding-top: 94px;
  background-color: var(--team-bcg-color);
}

.team .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team .section {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team .text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);

  margin-top: 10px;
  margin-bottom: 16px;
}

.team .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list .s-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.social-list .s-link:hover,
.social-list .s-link:focus {
  background-color: var(--prime-link-color);
}

.s-item .icon {
  fill: var(--social-icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.s-link:hover .icon,
.s-link:focus .icon {
  fill: var(--link-hover-color);
}

/*CLIENTS*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients .link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icons-color);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.item-client {
  width: 106px;
  height: 60px;
  fill: var(--social-icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.clients .link-client:hover,
.clients .link-client:focus,
.clients .link-client:hover .item-client,
.clients .link-client:focus .item-client {
  border-color: var(--prime-link-color);
  fill: var(--prime-link-color);
}

/*FOOTER*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.footer .logo-studio {
  color: var(--link-hover-color);
}

.footer .link,
.footer .map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.footer .map {
  color: var(--link-hover-color);
}

.address .link:hover,
.address .link:focus,
.address .map:hover,
.address .map:focus {
  color: var(--link-hover-color);
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .list {
  margin-top: 20px;
}

.joinus {
  margin-left: 70px;
}

.joinus .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--link-hover-color);
}

.joinus .list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.joinus .link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.joinus .icon {
  fill: var(--link-hover-color);
}

.joinus .link:hover,
.joinus .link:focus {
  background-color: var(--prime-link-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

/*MODAL WINDOW*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .data-modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 580px;
  min-width: 530px;

  background-color: var(--link-hover-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.backdrop .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 12px;

  color: var(--prime-linktxt-color);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--prime-link-color);
}

/*SUBMIT FORM*/

.form {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.form-field {
  /* outline: 1px solid navy; */
  width: 100%;
  margin-bottom: 10px;
}

.form label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--prime-text-color);
}

.form input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-comment .comment {
  height: 120px;
  width: 100%;

  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-comment textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--prime-text-color);
}

.form a {
  text-decoration-line: underline;

  color: var(--prime-link-color);
}

.btn-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--link-hover-color);
  background-color: var(--prime-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--herobtn-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*PORTFOLIO*/

.p-main .section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*FILTER BUTTONS*/
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filters .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.filters .button:hover,
.filters .button:focus {
  color: var(--link-hover-color);
  background-color: var(--prime-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*PORTFOLIO MAIN*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  margin-top: 50px;
}

.portfolio-list .portfolio-sign {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-list .p-image {
  position: relative;
  overflow: hidden;
}

.portfolio-list .item {
  max-width: 370px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
  text-align: left;
  margin-top: 4px;
}

.onhover-text {
  position: absolute;
  top: 0;
  left: 0;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  width: 370px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: var(--link-hover-color);

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(99%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--all-hovfoc-function);
}

.portfolio-list .item:hover .onhover-text,
.portfolio-list .item:focus .onhover-text {
  transform: translateY(0%);
}
