.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages__list {
  display: flex;
  flex-shrink: 1;
  gap: 30px;
  padding-left: 0;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__title {
  width: 270px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}

.advantages__advanicon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  width: 270px;
  background-color: $team-bcg-color;
}

.advantages__icon {
  height: 70px;
}
