.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    flex-shrink: 1;
    gap: 30px;
    padding-left: 0;
  }
}

.advantage__item {
  max-width: 450px;

  @include tablet {
    width: calc((100% / 2) - 60px);
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__title {
  @include font-face(700, 14, 1.1, 00.03);

  width: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  @include tablet {
    text-align: left;
    width: 100%;
  }
  @include desktop {
    width: 270px;
  }
}

.advantages__text {
  @include font-face(null, 14, 1.7, 00.03);
  color: $prime-text-color;
  width: 100%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 270px;
  }
}

.advantages__advanicon {
  @include flexCC;
  border-radius: 4px;
  background-color: $team-bcg-color;
  width: 100%;
  height: 120px;
  @include tablet {
    width: 50%;
  }

  @include desktop {
    height: 120px;
    width: 270px;
  }
}

.advantage__item {
  min-width: 450px;
}

.advantages__icon {
  height: 70px;
}
