.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  @include font-face(700, 36, 1.2, 00.03);

  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  @include respond(tablet) {
    flex-wrap: wrap;
  }
  display: flex;

  gap: 30px;
}

.clients__link-client {
  @include flexCC;

  width: 210px;
  height: 92px;
  border: 1px solid $social-icons-color;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  &:hover,
  &:focus {
    border-color: $prime-link-color;
    fill: $prime-link-color;
  }
  @include tablet {
    width: 226px;
  }
  @include desktop {
    width: 170px;
  }
}

.clients__item-client {
  width: 106px;
  height: 60px;
  fill: $social-icons-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  .clients__link-client:hover &,
  .clients__link-client:focus & {
    border-color: $prime-link-color;
    fill: $prime-link-color;
  }
}

.clients__link-client:hover,
.clients__link-client:focus,
.clients__link-client:hover .clients__item-client,
.clients__link-client:focus .clients__item-client {
  border-color: $prime-link-color;
  fill: $prime-link-color;
}
