.footer {
  max-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-color;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1600px;
  }
}

.footer__logo-studio {
  color: $link-hover-color;
}

.address__link,
.address__map {
  @include font-face(null, 14, 1.7, 00.03);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;
}

.address__map {
  color: $link-hover-color;
}

.address__link:hover,
.address__link:focus,
.address__map:hover,
.address__map:focus {
  color: $link-hover-color;
}

.address__footer .address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__list {
  margin-top: 20px;
}

.joinus {
  @include desktop {
    margin-left: 70px;
  }

  @include respond(mobile) {
    margin-top: 60px;
  }
}

.joinus__title,
.mailing__title {
  @include font-face(700, 14, 1.1, 00.03);

  text-transform: uppercase;

  color: $link-hover-color;
}

.joinus__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  @include respond(mobile) {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.joinus__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  @include flexCC;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  &:hover,
  &:focus {
    background-color: $prime-link-color;
  }
}

.joinus__icon {
  fill: $link-hover-color;
}

.mailing {
  @include desktop {
    margin-left: 93px;
  }
}
.mailing__sendmail {
  @include desktop {
    margin-top: 20px;
  }
}
.mailing__input {
  width: calc(100% - 30px);
  height: 50px;

  @include tablet {
  }

  @include desktop {
    width: 358px;
    padding-left: 16px;
  }

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @include respond(mobile) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.mailing__input textarea::placeholder {
  font-family: 'Roboto';
  @include font-face(400, 16, 1.2, 00.03);

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
}

.mailing__btn-submit {
  width: 200px;
  height: 50px;

  @include font-face(700, 16, 1.9, 00.06);

  text-align: center;
  justify-content: center;

  margin-left: 12px;
  color: $link-hover-color;
  background-color: $prime-link-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  &:hover,
  &:focus {
    background-color: $herobtn-link-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.mailing__fieldmail,
.mailing__form,
.mailing__btn-submit {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  @include tablet {
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.mailing__icon-wrap {
  height: 24px;
  width: 24px;
  margin-left: 10px;

  fill: $link-hover-color;
}

.footer .container {
  display: block;
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}
