.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-height: 609px;
  max-width: 450px;

  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;

  background-color: $link-hover-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  @include desktop {
    min-height: 580px;
    min-width: 530px;
  }
}

.backdrop__title {
  @include font-face(700, 20, 1.1, 00.03);

  text-align: center;

  margin-bottom: 12px;

  color: $prime-linktxt-color;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  @include flexCC;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  &:hover,
  &:focus {
    fill: $prime-link-color;
  }
}

/*SUBMIT FORM*/

.submit-form {
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.submit-form__field {
  // outline: 1px solid navy;
  width: 100%;
  margin-bottom: 10px;
}

.submit-form__input-wrap {
  position: relative;
}

.submit-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  .submit-form__input:focus + & {
    fill: $prime-link-color;
  }
}

.submit-form__input:focus,
.submit-form__comment:focus {
  border: 1px solid $prime-link-color;
  outline: none;
}

.submit-form__label {
  @include font-face(400, 12, 1.2, 00.01);

  color: $prime-text-color;
}

.submit-form__input,
.submit-form__comment {
  position: relative;
  display: flex;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  @include desktop {
    width: 100%;
  }
}

.submit-form__comment {
  height: 120px;
  margin-bottom: 20px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-comment textarea::placeholder {
  @include font-face(400, 12, 1.2, 00.01);

  color: rgba(117, 117, 117, 0.5);
}

/*DONE CHECKBOX*/

.form-checkbox {
  @include flexCC;
  flex-direction: row-reverse;
  @include font-face(400, 12, 1.2, 00.03);

  color: $prime-text-color;
  margin-bottom: 30px;

  @include desktop {
    @include font-face(400, 14, 1.7, 00.03);
  }
}

.submit-form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.submit-form__customckbx {
  @include flexCC;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-color: $link-hover-color;
  border: 2px solid $prime-linktxt-color;
  border-radius: 3px;
}

.submit-form__termbox {
  width: 16px;
  height: 12px;
  fill: $link-hover-color;
}

.submit-form__checkbox:checked + .submit-form__customckbx {
  border: 2px solid $prime-link-color;
  background-color: $prime-link-color;
  background-origin: border-box;
}

.submit-form__policy {
  text-decoration-line: underline;
  cursor: pointer;
  color: $prime-link-color;
}

/*FORM SUBMIT*/

.btn-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  margin-left: auto;
  margin-right: auto;

  @include font-face(700, 16, 1.9, 00.06);
  @include flexCC;
  color: $link-hover-color;
  background-color: $prime-link-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: $herobtn-link-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
