.header__list,
.header .contacts {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.header__container {
  // height: 60px;
  // padding-top: 16px;
  // padding-bottom: 16px;
  // padding-bottom: 0;

  @include tablet {
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.pages:not(:last-child) {
  margin-right: 50px;
}

.contact:not(:last-child) {
  @include desktop {
    margin-right: 30px;
  }
}

.header__link {
  color: $prime-linktxt-color;
  position: relative;

  &:hover,
  &:focus {
    color: $prime-link-color;
  }
}

.header__link--current {
  color: $prime-link-color;

  &::after {
    color: $prime-link-color;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $prime-link-color;
    border-radius: 2px;
  }
}

.header__logo,
.footer__logo {
  font-family: 'Raleway', sans-serif;

  @include font-face(700, 24, 1.1, 00.03);
  color: $prime-link-color;

  @include desktop {
    @include font-face(700, 26, 1.2, 00.03);
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}

.header__logo-studio {
  color: #000000;
}

.header__link {
  @include font-face(500, 14, 1.1, 00.02);

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;
}

.contacts {
  @include tablet {
    display: block;
    text-align: start;
  }
  @include desktop {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
  }
}

.contacts__link {
  @include desktop {
    color: $prime-text-color;
    display: flex;
    align-items: center;
  }
}

.contact__icon-mail {
  height: 12px;
  width: 16px;
}

.contact__icon-phone {
  height: 16px;
  width: 10px;
}

.icon-contact {
  margin-right: 10px;

  fill: $prime-text-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $prime-link-color;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
