.header__list {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  @include respond(mobile) {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.header__container {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.pages:not(:last-child) {
  margin-right: 50px;
}

.contact:not(:last-child) {
  @include desktop {
    margin-right: 30px;
  }
}

.header__link {
  color: $prime-linktxt-color;
  position: relative;

  &:hover,
  &:focus {
    color: $prime-link-color;
  }
}

.header__link--current {
  color: $prime-link-color;

  &::after {
    color: $prime-link-color;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $prime-link-color;
    border-radius: 2px;
  }
}

.header__logo,
.footer__logo {
  font-family: 'Raleway', sans-serif;

  @include font-face(700, 24, 1.1, 00.03);
  color: $prime-link-color;

  @include desktop {
    @include font-face(700, 26, 1.2, 00.03);
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}

.header__logo-studio {
  color: #000000;
}

.header__link {
  @include font-face(500, 14, 1.1, 00.02);
  @include tablet {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
  }
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;
}

.contacts {
  display: none;
  @include respond(tablet) {
    margin-left: auto;
  }
  @include tablet {
    display: block;
    text-align: start;
  }
  @include desktop {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
  }
}

.contacts__link {
  @include respond(tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
  @include desktop {
    color: $prime-text-color;
    display: flex;
    align-items: center;
  }
}

.contact__icon-mail {
  height: 12px;
  width: 16px;
}

.contact__icon-phone {
  height: 16px;
  width: 10px;
}

.icon-contact {
  margin-right: 10px;

  fill: $prime-text-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $prime-link-color;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

//Mobile-button

.menu-toggle {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;

  @include tablet {
    display: none;
  }
}

.menu-container {
  padding-top: 48px;
  padding-left: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $link-hover-color;
  z-index: 999;

  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-cbtn__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  @include flexCC;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  &:hover,
  &:focus {
    fill: $prime-link-color;
  }
}

.mobile-nav {
  margin-bottom: 302px;
}
.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__item--current {
  color: $prime-link-color;
}
.mobile-contacts__list {
  margin-bottom: 64px;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $prime-link-color;
}
.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $prime-text-color;
}
.mobile-social__list {
  display: flex;
}
.mobile-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-social__link {
  color: $prime-link-color;
}
