.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $team-bcg-color;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  @include font-face(500, 16, 1.2, 00.03);

  text-align: center;

  margin-bottom: 50px;
}

.team__list {
  margin-bottom: 30px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team .section {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__name {
  @include font-face(500, 16, 1.2, 00.03);
}

.team__text {
  @include font-face(null, 16, 1.2, 00.03);

  color: $prime-text-color;

  margin-top: 10px;
  margin-bottom: 16px;
}

.team__item {
  background-color: $link-hover-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 480px;

  @include tablet {
    width: 354px;
  }

  @include desktop {
    width: 270px;
  }
}

.team__team-card {
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.team__social-list {
  @include flexCC;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.team__s-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include flexCC;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;
  &:hover,
  &:focus {
    background-color: $prime-link-color;
  }
}

.team__icon {
  fill: $social-icons-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $all-hovfoc-function;

  .team__s-link:hover &,
  .team__s-link:focus & {
    fill: $link-hover-color;
  }
}
