.wwd__title {
  @include font-face(700, 36, 1.2, 00.03);

  text-align: center;

  margin-bottom: 50px;
}

.wwd__list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.wwd__image {
  display: block;
}

.wwd__card {
  position: relative;
}

.wwd__card-text {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.wwd__text {
  @include font-face(700, 14, 1.1, 00.03);

  text-align: center;
  text-transform: uppercase;

  color: $link-hover-color;
}

.wwd {
  padding-bottom: 94px;
}
