@import './mixins';

body {
  font-family: 'Roboto', sans-serif;
  color: $prime-linktxt-color;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}
