$prime-link-color: #2196f3;
$herobtn-link-color: #188ce8;
$prime-linktxt-color: #212121;
$prime-text-color: #757575;
$link-hover-color: #ffffff;
$team-bcg-color: #f5f4fa;
$social-icons-color: #afb1b8;
$footer-color: #2f303a;
$border-color: #eeeeee;
$all-hovfoc-function: cubic-bezier(0.4, 0, 0.2, 1);
